<!--customer情報（ヘッダー）-->

<!--showの部分テンプレート-->
<!--投稿者名-->
<%= link_to @customer.name, public_customer_path(@customer.id)  %><br>
<!--イラスト-->
<%= image_tag @art.image %>
<!--タイトル-->
<h4><%= @art.title %></h4>
<!--説明文-->
<p><%= @art.body %></p>

<!--artの編集-->
<%= link_to "編集", edit_public_art_path(@art.id) %>

<!--いいね機能-->
    <%# if @art.nice?(current_customer) %>
        <%#= link_to art_nace_path(@art.id), method: :delete do %>
            <!--<span style= "color:red;">♥</span>-->
        <%# end %>
    <%# else %>
        <%#= link_to art_nace_path(@art.id), method: :art do %>
            <!--<span>♥</span>-->
        <%# end %>
    <%# end %>

<%#= link_to "編集", edit_art_path(@art.id) %>
<%#= link_to "削除", art_path(@art.id), method: :delete, "data-confirm" => "本当に削除しますか？"　%>

<!--コメント一覧-->
<div>
    <p>コメント件数:<%= @art.coments.count %></p>
    <% @art.coments.each do |coment| %>
    <p><%= image_tag coment.customer.get_profile_image(100,100) %></p>
    <%= coment.customer.name %>
    <%= coment.created_at.strftime('%Y/%m/%d') %><%= coment.coment %>
    <% end %>
</div>
<div>
    <%= form_with model: [@art, @coment] do |f| %>
    <%= f.text_area :coment, rows: '5', placeholder: "コメントをここに"　%>
    <%= f.submit "送信する"　%>
    <% end %>
</div>